html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

* {
    font-family: $font-family;
    color: $dark-grey;
    line-height: $font-height;
}
